<!DOCTYPE html>
<html>

<h4 class="center"> Upload a JSON file. Other formats will not be accepted </h4>
<%= form_tag(upload_transactions_path, method: :post, enctype: 'multipart/form-data') do %>

  <h4> <%= @error_message %> </h4>
  <%= file_field_tag :json_file %>
  <%= submit_tag 'Upload JSON File' %>
<% end %>
</html>